aiofiles==24.1.0
asgiref==3.8.1
attrs==23.2.0
blinker==1.8.2
build==1.2.1
CacheControl==0.14.0
certifi==2024.6.2
cffi==1.17.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==43.0.0
distlib==0.3.8
dj-database-url==2.2.0
Django==5.1
django-appconf==1.0.6
django-cors-headers==4.4.0
django-cryptography==1.1
django-encrypted-model-fields==0.6.5
django-fernet-fields==0.6
django-filter==24.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.94.1
drf-spectacular==0.27.2
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.15.4
Flask==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.7
inflection==0.5.1
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
MarkupSafe==2.1.5
more-itertools==10.4.0
msgpack==1.0.8
neverbounce-sdk==4.3.0
packaging==24.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.1
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
priority==2.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycparser==2.22
PyJWT==2.8.0
pyproject_hooks==1.1.0
python-decouple==3.8
python-dotenv==1.0.1
python-http-client==3.3.7
pywin32-ctypes==0.2.3
PyYAML==6.0.1
rapidfuzz==3.9.6
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.18.1
shellingham==1.5.4
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
tomlkit==0.13.2
trove-classifiers==2024.7.2
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
virtualenv==20.26.3
Werkzeug==3.0.4
wsproto==1.2.0
